@font-face {
  font-family: 'CamptonBold';
  src: url('../font/CamptonBold.otf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'CamptonLight';
  src: url('../font/CamptonLight.otf') format('truetype');
  font-style: normal;
}


.dashboardContainer {
  display: flex;
  height: 100vh;
}

.sidebarContainer {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column-reverse;
  background-color: #dee0eb;
}

.sidebarContentTop{
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 0;
}

.sidebarContentTopText{
  position: absolute;
  font-family: 'CamptonBold';
  color: #273A95;
  top: 3%;
  text-align: center;
}

.sidebarContentTopNumber{
  position: absolute;
  font-family: 'CamptonBold';
  font-size: 200%;
  color: #273A95;
  top: 6%;
  text-align: center;
}

.sidebarContent {
  background: #273A95;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0px 0px;
  height: 80%;
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
  display: flex;
}

.sidebarContentPolygon{
  position: absolute;
  color: #FFCB05;
  margin-top: 2%;
  border-left: 9.67px solid transparent;
  border-right: 9.67px solid transparent;
  border-bottom: 19.34px solid #FFCB05;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sidebarContentText{
  position: absolute;
  font-family: 'CamptonBold';
  color: #FFCB05;
  margin-top: 5%;
  text-align: center;
}

.sidebarContentNumber{
  position: absolute;
  font-family: 'CamptonBold';
  font-size: 200%;
  color: #FFCB05;
  margin-top: 8%;
  text-align: center;
}



.mainContent {
  flex: 1;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.dashboardMainTitle{
  position: relative;
  padding-top: 3%;

  font-family: 'CamptonBold';
  color: #273A95;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
}

.dashboardSecondTitle{
  position: relative;
  font-family: 'CamptonBold';
  color: #273A95;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-align: right;
  padding-right: 0.25%;
}

.propulsedContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20%;
}

.clock {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'CamptonBold';
  color: #273A95;
  font-style: normal;
  font-size: 5px;
}

.clockCircle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 2px solid #273A95;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 25px;
  font-weight: bold;
}

.blueFrame1 {
  position: absolute;
  top: 30%;
  margin-left: 5%;
  width: 25%;
  height: 22%;
  background-color: #273A95;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.textCornerLeft1{
  position: absolute;
  top: 10%;
  left: 15%;
  margin-left: 5%;
  padding: 5px;
  font-family: 'CamptonBold';
  color: #FFCB05;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangleVisitorCornerLeft11 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 10%;
  height: 25%;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangleVisitorCornerLeft12 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #273A95;
  border-radius: 50%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.rectangleVisitorCornerLeft13 {
  position: absolute;
  width: 12px;
  height: 18px;
  background-color: #273A95;
  border-top-right-radius: 45%;
  border-top-left-radius: 45%;
  left: 50%;
  top: 225%;
  transform: translate(-50%, -50%);
}


.textCornerRight1 {
  position: absolute;
  top: 10%;
  right: 5%;
  background-color: #FFFFFF;
  color: #273A95;
  border-radius: 10px;
  font-family: 'CamptonBold';
  padding: 5px;
  height: 25%;
  text-align: center;
}

.textMiddle1{
  font-family: 'CamptonBold';
  color: #FFCB05;
}

.polygonMiddle1 {
  position: absolute;
  margin-left: 35%;
  border-left: 9.67px solid transparent;
  border-right: 9.67px solid transparent;
  border-bottom: 19.34px solid #FFCB05;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.textBottom1 {
  position: absolute;
  font-family: 'CamptonLight';
  font-weight: bold;
  color: #FFCB05;
  bottom: 5%;
  text-align: center;
  height: 25%;
  font-size: 75%;
  padding-left: 5%;
  padding-right: 5%;
}


.blueFrame2 {
  position: absolute;
  top: 30%;
  margin-left: 35%;
  width: 35%;
  height: 22%;
  background-color: #273A95;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textPercentCornerLeft2{
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: #FFFFFF;
  color: #273A95;
  border-radius: 10px;
  font-family: 'CamptonBold';
  padding: 5px;
  height: 25%;
  text-align: center;
}

.textMiddleTop2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #FFCB05;
  border-radius: 10px;
  font-family: 'CamptonBold';
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textFrancePercentMiddle2 {
  position: absolute;
  left: 5%;
  color: #FFCB05;
  font-family: 'CamptonBold';
  font-size: 200%;
}

.textFranceBottom2{
    position: absolute;
    left: 5%;
    color: #FFCB05;
    font-family: 'CamptonBold';
    font-size: 100%;
    padding-top: 7%;
}

.textJaponPercentMiddle2 {
  position: absolute;
  left: 30%;
  color: #FFCB05;
  font-family: 'CamptonBold';
  font-size: 200%;
}

.textJaponBottom2{
    position: absolute;
    left: 30%;
    color: #FFCB05;
    font-family: 'CamptonBold';
    font-size: 100%;
    padding-top: 7%;
}

.textSuissePercentMiddle2 {
  position: absolute;
  right: 30%;
  color: #FFCB05;
  font-family: 'CamptonBold';
  font-size: 200%;
}

.textSuisseBottom2{
    position: absolute;
    right: 35%;
    color: #FFCB05;
    font-family: 'CamptonBold';
    font-size: 100%;
    padding-top: 7%;
}


.textAutrePercentMiddle2 {
  position: absolute;
  right: 10%;
  color: #FFCB05;
  font-family: 'CamptonBold';
  font-size: 200%;
}

.textAutreBottom2{
    position: absolute;
    right: 10%;
    color: #FFCB05;
    font-family: 'CamptonBold';
    font-size: 100%;
    padding-top: 7%;
}



.blueFrame3 {
  position: absolute;
  bottom: 10%;
  margin-top: 18%;
  margin-left: 5%;
  width: 65%;
  height: 30%;
  background-color: #273A95;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}

.rectangleVentesCornerLeft31 {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 5%;
  height: 25%;
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.polygonVentesCornerLeft32 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-left: 9.67px solid transparent;
  border-right: 9.67px solid transparent;
  border-bottom: 19.34px solid #273A95;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.textCornerLeft3{
  position: absolute;
  top: 40%;
  left: 2%;
  padding: 5px;
  font-family: 'CamptonBold';
  color: #FFCB05;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textCornerRight3 {
  position: absolute;
  top: 10%;
  right: 1%;
  background-color: #FFFFFF;
  color: #273A95;
  border-radius: 10px;
  font-family: 'CamptonBold';
  padding: 5px;
  text-align: center;
}



.barVentesContentContainer3 {
  position: relative;
  width: 80%;
  margin-left: 12%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 70%;
}

.barVentesContent3 {
  position: relative; /* Ajout de la propriété */
  display: flex; /* Ajout de la propriété */
  align-items: center; /* Ajout de la propriété */
  justify-content: center; /* Ajout de la propriété */
  flex-grow: 1;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
  margin-right: 5%;
}

.barVentesContentText3 {
  position: relative; /* Modification de la propriété */
  color: #273A95;
  font-family: 'CamptonBold';
  font-size: 100%;
  text-align: center;
}


.bottomBar {
  position: absolute;
  bottom: 5%;
  padding-bottom: 1%;
  margin-left: 5%;
  width: 65%;
  height: 1%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.bottomBarContainer{
  width: 80%;
  margin-left: 12%;
  display: flex;
  justify-content: space-between;
}
.dateText {
  font-family: 'CamptonBold';
  color: #273A95;
  font-size: 12px;
  white-space: normal;
  text-overflow: ellipsis;
  text-align: center;
}